In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DATA

In [3]:
data = {
    "accountid": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120],
    "limite_credit": [1000, 2000, 1500, 3000, 1200, 2500, 1800, 2200, 1600, 2700, 1400, 2300, 1900, 2100, 1100, 2400, 2000, 2100, 1700, 2600],
    "solde_courant": [200, 1500, 400, 2800, 100, 2100, 1700, 2000, 1500, 600, 1300, 2200, 1800, 100, 900, 1100, 1900, 1200, 1600, 2500],
    "score_credit": [720, 610, 580, 690, 750, 640, 670, 710, 600, 680, 630, 700, 660, 690, 520, 500, 680, 699, 650, 670],
    "defaut_12M": [0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0],
}

df = pd.DataFrame(data)

df.head(5)

   accountid  limite_credit  solde_courant  score_credit  defaut_12M
0        101           1000            200           720           0
1        102           2000           1500           610           0
2        103           1500            400           580           1
3        104           3000           2800           690           1
4        105           1200            100           750           0

1. Combien de comptes contient le tableau? Combien de varibles contient-il?

2. Créez une nouvelle colonne nommée "utilisation" définie par : utilisation = solde_courant/limite_credit, en pourcentage avec 2 chiffres significatifs.

3. Calculez l'utilisation moyenne de manière séparée pour les comptes qui ont fait défaut (defaut_12M = 1) et ceux qui n'ont pas fait défaut (defaut_12M = 0). Calculez aussi l'écart type (standard deviation).

4. Créez une nouvelle colonne nommée "niveau_risque" qui comporte 3 catégories : 
    - score_credit < 600 --> "haut"
    - score_credit entre 600-699 --> moyen
    - score_credit >= 700 --> "bas"

5. En utilisant matplotlib, créez un diagramme à barres (bar chart) qui montre le taux de défaut par niveau de risque. Selon vous, quel devrait être le seuil d'acceptation, c'est à dire le score de crédit minimum qui est accepté?